*   {
    font-family: sans-serif;
}
h1  {
    font-size: 5em;
}
button  {
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
#main-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: beige;
}
#content    {
    text-align: center;
    align-self: center;
}
#flex-box   {
    display: flex;
    justify-content: center;
    gap: 50px;
}
#number {
    color: green;
}